$negro: #1d1d1d;
$darkenLight: #242424;
$blanco: #fff;
$gris: #ececec;
$primario: #b82d44;
$secundario: #f9b641;
$alterno: #523645;
$alterno2: #311a24;

$pfx: 'bakuretsu_';

//Zindex's
$zup: 1;
$zdrop: 10;
$zmenu: 100;
$zmodal: 1000;