@import "./vars";
@import "./mixins";

//Elementos
.#{$pfx}encabezadoDoble{
    @include flex(column, nowrap, flex-start, flex-start, flex-start);
    font-family: "Roboto Condensed",sans-serif;
    margin-bottom: 30px;
    color: $negro;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 7px;
    text-transform: uppercase;
    text-align: left;
    .breakTxt{
        font-family: "Roboto",sans-serif;
        font-size: 60px;
        font-weight: 900;
        line-height: 45px;
        letter-spacing: 0;
    }
}
.#{$pfx}encabezado{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
    color: $negro;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}
.#{$pfx}underDecorado{
    color: $primario;
    font-weight: 900;
    text-decoration: underline wavy;
    &-2{
        @extend .#{$pfx}underDecorado;
        color: $secundario;
    }
}
.#{$pfx}icono{
    width: 35px;
    height: 35px;
    svg{
        overflow: hidden;
        path, circle{
            fill: none;
            stroke: $primario;
            stroke-miterlimit: 10;
            stroke-width: 2;
        }
    }
}

//Secciones
.#{$pfx}menu{
    &.fixed{
        .fixedWrapper{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            z-index: $zmenu;
        }
    }
    .fixedWrapper{
        background-color: $negro;
        .#{$pfx}container{
            @include container;
            padding: 10px 0;
            user-select: none;
            .topBar{
                @include flex($jc: space-between);
                width: 100%;
                .leftSide{
                    @include flex;
                    .logo{
                        @include imagen('', contain, left);
                        width: 120px;
                        height: 80px;
                        margin-right: 20px;
                        transition: ease all .3s;
                    }
                    .launcherMenuResponsive{
                        display: none;
                    }
                    .linksArea{
                        .closeMenuResponsive, .socialsResponsive{
                            display: none;
                        }
                        .menuLinks{
                            @include flex;
                            >.link{
                                margin: 5px 10px;
                            }
                            .link{
                                position: relative;
                                min-width: max-content;
                                &:hover{
                                    >a{
                                        &:after{
                                            width: 100%;
                                        }
                                    }
                                    >.subMenu{
                                        opacity: 1;
                                        visibility: visible;
                                        transform: translateX(-50%);
                                    }
                                }
                                a{
                                    color: $blanco;
                                    font-size: 12px;
                                    letter-spacing: 1px;
                                    text-transform: uppercase;
                                    position: relative;
                                    &:after{
                                        content: "";
                                        position: absolute;
                                        bottom: 0;
                                        left: 0;
                                        right: 0;
                                        margin: 0 auto;
                                        width: 0;
                                        height: 2px;
                                        background-color: $primario;
                                        transition: ease all .3s;
                                    }
                                }
                                .subMenu{
                                    position: absolute;
                                    left: 50%;
                                    top: 100%;
                                    min-width: 100%;
                                    margin-top: 10px;
                                    background-color: #000;
                                    transform: translateX(-50%) translateY(20px);
                                    visibility: hidden;
                                    opacity: 0;
                                    z-index: $zmenu;
                                    transition: ease all .3s;
                                    &:hover{
                                        >.link{
                                            opacity: .5;
                                        }
                                    }
                                    &:before{
                                        content: "";
                                        position: absolute;
                                        bottom: 100%;
                                        width: 100%;
                                        height: 10px;
                                        display: block;
                                    }
                                    >.link{
                                        display: flex;
                                        text-align: center;
                                        transition: ease all .3s;
                                        &:hover{
                                            opacity: 1;
                                            background-color: rgba($blanco,.05);
                                        }
                                    }
                                    .link{
                                        a{
                                            flex-grow: 1;
                                            padding: 10px;
                                            &:after{
                                                display: none;
                                            }
                                        }
                                        .subMenu{
                                            top: 0;
                                            left: 100%;
                                            margin-top: 0;
                                            transform: none;
                                            &:before{
                                                display: none;
                                            }
                                        }
                                    }
                                }
                                .showSubmenu{
                                    display: none;
                                }
                            }
                        }
                    }
                }
                .rightSide{
                    @include flex($jc: flex-end);
                    flex-grow: 1;
                    .buscador{
                        width: 150px;
                        max-width: 400px;
                        margin: 0 20px;
                        cursor: pointer;
                        transition: ease all .3s;
                        &.activ{
                            flex-grow: 1;
                        }
                        .buscadorTop{
                            @include flex;
                            position: relative;
                            input{
                                width: 100%;
                                padding: 15px 40px 15px 20px;
                                outline: none;
                                border: 0;
                                color: $blanco;
                                font-size: 12px;            
                                letter-spacing: 1px;
                                text-transform: uppercase;
                                position: relative;
                                background-color: transparent;
                                border-bottom: 1px solid $blanco;
                                cursor: pointer;
                                &::placeholder{
                                    color: $blanco;
                                    opacity: .5;
                                }
                                &:focus{
                                    cursor: default;
                                }
                            }
                            .icono{
                                position: absolute;
                                right: 0;
                                width: 30px;
                                height: 30px;
                                &:before, &:after{
                                    content: "";
                                    position: absolute;
                                }
                                &:before{
                                    width: 25px;
                                    height: 25px;
                                    border-radius: 50%;
                                    border: 1px solid $blanco;
                                }
                                &:after{
                                    bottom: 0;
                                    right: 0;
                                    width: 1px;
                                    height: 10px;
                                    background-color: $blanco;
                                    transform: rotate(-45deg);
                                    transform-origin: bottom;
                                }
                            }
                        }
                    }
                    .launcherBuscadorResponsive{
                        display: none;
                    }
                    .icons{
                        @include flex;
                        .#{$pfx}icono{
                            width: 25px;
                            height: 25px;
                            margin-left: 20px;
                            cursor: pointer;
                            svg{
                                path, circle{
                                    stroke: $blanco;
                                }
                            }
                        }
                    }
                }
            }
            @media only screen and (min-width: 1024px){
                .topBar{
                    .leftSide{
                        .linksArea{
                            .menuLinks{
                                .link{
                                    .subMenu{
                                        display: block !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            @include desktop{
                .topBar{
                    position: relative;
                    &:after{
                        content: "";
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        visibility: hidden;
                        opacity: 0;
                        background-color: rgba($blanco,.8);
                        transition: ease all .3s;
                    }
                    &.openMenu{
                        &:after{
                            opacity: 1;
                            visibility: visible;
                        }
                        .leftSide{
                            .linksArea{
                                left: 0;
                                transition-delay: .1s;
                            }
                        }
                    }
                    .leftSide{
                        .launcherMenuResponsive{
                            @include flex(column);
                            width: 40px;
                            height: 40px;
                            position: relative;
                            cursor: pointer;
                            span{
                                position: absolute;
                                width: 100%;
                                height: 1px;
                                background-color: $blanco;
                                &:first-child{
                                    transform: translateY(-12px);
                                }
                                &:last-child{
                                    transform: translateY(12px);
                                }
                            }
                        }
                        .linksArea{
                            @include flex(column, nowrap, center, flex-start);
                            position: fixed;
                            top: 0;
                            left: -300px;
                            width: 300px;
                            height: 100%;
                            background-color: $negro;
                            transition: ease all .3s;
                            z-index: $zmenu;
                            .closeMenuResponsive{
                                @include flex;
                                width: 100%;
                                min-height: 60px;
                                color: $blanco;
                                font-size: 12px;
                                letter-spacing: 2px;
                                text-transform: uppercase;
                                background-color: rgba($blanco,.1);
                                cursor: pointer;
                                .icono{
                                    @include flex;
                                    width: 20px;
                                    height: 20px;
                                    margin-right: 10px;
                                    position: relative;
                                    &:before, &:after{
                                        content: "";
                                        position: absolute;
                                        width: 100%;
                                        height: 1px;
                                        background-color: $blanco;
                                    }
                                    &:before{
                                        transform: rotate(45deg);
                                    }
                                    &:after{
                                        transform: rotate(-45deg);
                                    }
                                }
                            }
                            .menuLinks{
                                flex-direction: column;
                                flex-wrap: nowrap;
                                justify-content: flex-start;
                                width: 100%;
                                height: 100%;
                                overflow-y: auto;
                                overflow-x: hidden;
                                .link{
                                    width: 100%;
                                    min-width: 100%;
                                    margin: 0;
                                    padding: 20px 40px 20px 20px;
                                    box-sizing: border-box;
                                    transition: ease all .3s;
                                    &:hover{
                                        background-color: rgba($blanco,.05);
                                    }
                                    a{
                                        font-size: 14px;
                                        &:after{
                                            display: none;
                                        }
                                    }
                                    .subMenu{
                                        display: none;
                                        position: relative;
                                        top: 0 !important;
                                        left: 0 !important;
                                        margin-top: 0;
                                        transform: none !important;
                                        opacity: 1 !important;
                                        visibility: visible !important;
                                        background-color: transparent;
                                        transition: none !important;
                                        &:hover{
                                            >.link{
                                                opacity: 1;
                                            }
                                        }
                                        &:before{
                                            display: none;
                                        }
                                        >.link{
                                            display: block;
                                            text-align: left;
                                        }
                                    }
                                    .showSubmenu{
                                        display: block;
                                        position: absolute;
                                        top: calc(25px / 2);
                                        right: 0;
                                        cursor: pointer;
                                        transition: ease all .2s;
                                        &.openSub{
                                            transform: rotate(90deg);
                                        }
                                        svg{
                                            path, circle{
                                                stroke: $blanco;
                                            }
                                        }
                                    }
                                }
                            }
                            .socialsResponsive{
                                @include flex(column);
                                width: 100%;
                                padding: 10px 20px;
                                box-sizing: border-box;
                                .logo{
                                    margin: 0 auto;
                                }
                                .social{
                                    @include flex;
                                    padding: 20px 0;
                                    .icono{
                                        width: 35px;
                                        height: 35px;
                                        margin: 5px;
                                        cursor: pointer;
                                        color: $blanco;
                                        transition: ease all .3s;
                                        &:hover{
                                            color: $secundario;
                                            transform: translateY(-5px);
                                            svg{
                                                transform: rotateY(360deg);
                                            }
                                        }
                                        svg{
                                            transition: ease all .3s;
                                            path, circle{
                                                fill: currentColor;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .rightSide{
                        .buscador{
                            @include flex;
                            position: absolute;
                            width: 0;
                            margin: 0;
                            max-width: 100%;
                            height: 100%;
                            background-color: $negro;
                            z-index: $zup;
                            &.activ{
                                width: 100%;
                            }
                            .buscadorTop{
                                width: 100%;
                                overflow: hidden;
                            }
                        }
                        .launcherBuscadorResponsive{
                            display: block;
                            width: 30px;
                            height: 30px;
                            position: relative;
                            cursor: pointer;
                            &:before, &:after{
                                content: "";
                                position: absolute;
                            }
                            &:before{
                                width: 25px;
                                height: 25px;
                                border-radius: 50%;
                                border: 1px solid $blanco;
                            }
                            &:after{
                                bottom: 0;
                                right: 0;
                                width: 1px;
                                height: 10px;
                                background-color: $blanco;
                                transform: rotate(-45deg);
                                transform-origin: bottom;
                            }
                        }
                    }
                }
            }
            @include mobile{
                .topBar{
                    .leftSide{
                        width: 100%;
                        justify-content: space-between;
                        .logo{
                            height: 70px;
                        }
                    }
                    .rightSide{
                        padding: 10px 0;
                        justify-content: center;
                        position: relative;
                    }
                }
            }
        }
    }
}