@import "./parciales/vars";
@import "./parciales/mixins";
@import "./parciales/general";
@import "./parciales/compartido";

@keyframes aniNum {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(2);
    opacity: 0;
  }
}

.#{$pfx}detalleProducto{
  &.style2{
    .#{$pfx}container{
      .detalleWrapper{
        .preview{
          .precio{
            font-family: "Roboto",sans-serif;
            color: $negro;
            font-size: 40px;
            font-weight: 900;
            text-align: center;
            margin-bottom: 20px;
            &:before{
              content: var(--currencyPrefix);
              font-size: 30px;
            }
          }
          .preciOferta{
            @extend .precio;
            color: $primario;
            font-size: 20px;
            margin-bottom: 0;
            text-align: center;
            text-decoration: line-through;
            &:before{
              font-size: 20px;
            }
          }
        }
        .precios{
          text-align: center;
          margin-top: 20px;
          .selCantidad{
            margin-top: 10px;
            .controls{
              justify-content: center;
            }
          }
          .alCarrito{
            margin-bottom: 20px;
            border-radius: 20px;
          }
        }
      }
      @include desktop{
        .detalleWrapper{
          .left{
            width: 100%;
            .preview{
              margin: 0 auto;
            }
          }
          .precios{
            position: relative;
            top: auto;
            transform: none;
          }
        }
      }
    }
  }
  .#{$pfx}container{
    @include container;
    padding: 50px 0;
    .detalleWrapper{
      @include flex($ai: flex-start);
      width: 100%;
      user-select: none;
      .preview{
        width: 400px;
        border-radius: 30px;
        border: 1px solid rgba($negro,.1);
        box-shadow: 0 40px 20px -30px rgba($negro,.1);
        box-sizing: border-box;
        position: relative;
        .aFavs{
          position: absolute;
          top: 20px;
          right: 20px;
          z-index: 50;
          cursor: pointer;
          transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) all .3s;
          &.esFav{
            transform: scale(1.1);
            svg{
              transform: rotateY(180deg);
              path, circle{
                fill: $primario;
              }
            }
          }
          svg{
            transition: cubic-bezier(0.4, 0, 0.2, 1) all .3s;
            path, circle{
              fill: transparent;
              transition: ease all .3s;
            }
          }
        }
        .imagenesContainer{
          width: 100%;
          position: relative;
          .imagenes{
            width: 100%;
            height: 400px;
            border-radius: 30px;
            position: relative;
            overflow: hidden;
            .imagenProd{
              @include imagen($size: contain);
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: $blanco;
              opacity: 0;
              transform: scale(.8);
              transition: ease all .3s;
              &.activa{
                opacity: 1;
                transform: scale(1);
              }
              @for $i from -20 through -1 {
                $child: 21 + $i;
                $index: $i * -1;
                &:nth-child(#{$child}){
                  z-index: $index;
                }
              }
            }
          }
        }
        .controls{
          @include flex($wrap: nowrap);
          width: 100%;
          margin: 10px auto;
          .control{
            @include flex;
            width: 60px;
            height: 60px;
            min-width: 60px;
            cursor: pointer;
            .#{$pfx}icono{
              width: 40px;
              height: 40px;
            }
          }
          .dots{
            @include flex;
            width: 100%;
            .dot{
              width: 15px;
              height: 15px;
              margin: 5px;
              border-radius: 50%;
              background-color: $gris;
              cursor: pointer;
              transition: ease all .5s;
              &.activa{
                background-color: $primario;
              }
            }
          }
        }
      }
      .data{
        width: calc(100% - 450px);
        margin-left: 50px;
        .nombre{
          font-family: "Roboto",sans-serif;
          color: $negro;
          font-size: 40px;
          font-weight: 900;
          margin-bottom: 10px;
        }
        .fecha{
          font-weight: 600;
          margin-bottom: 30px;
        }
        .header{
          margin-top: 20px;
          margin-bottom: 10px;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
        .lista{
          li{
            margin-left: 20px;
            list-style-type: disc;
          }
        }
        .disp{
          margin-top: 10px;
          font-weight: 600;
        }
        .extraInfo{
          @include flex(row, nowrap, flex-start, space-between);
        }
      }
      .precios{
        min-width: 250px;
        text-align: right;
        .precio{
          font-family: "Roboto",sans-serif;
          color: $negro;
          font-size: 40px;
          font-weight: 900;
          &:before{
            content: var(--currencyPrefix);
            font-size: 30px;
          }
        }
        .preciOferta{
          @extend .precio;
          color: $primario;
          font-size: 20px;
          text-decoration: line-through;
          &:before{
            font-size: 20px;
          }
        }
        .selCantidad{
          user-select: none;
          .controls{
            @include flex($jc: flex-end);
            .boton{
              background-color: $gris;
              cursor: pointer;
              &.disabled{
                opacity: .5;
                cursor: not-allowed;
              }
              svg{
                path, circle{
                  stroke: $negro;
                }
              }
            }
            .num{
              font-family: "Roboto",sans-serif;
              padding: 0 10px;
              min-width: 40px;
              font-size: 20px;
              font-weight: 600;
              text-align: center;
              &.animacion{
                animation: aniNum .2s;
              }
            }
          }
        }
        .alCarrito{
          display: inline-block;
          user-select: none;
          margin-top: 20px;
          padding: 12px 25px;
          color: $blanco;
          font-size: 14px;
          text-align: center;
          letter-spacing: 1px;
          text-transform: uppercase;
          background-color: $primario;
          cursor: pointer;
          transition: ease all .3s;
          &:hover{
            transform: translateY(-5px);
            box-shadow: 0 10px 10px 0 rgba($negro,.1);
          }
        }
      }
    }
    @include desktop{
      .detalleWrapper{
        flex-direction: column;
        position: relative;
        .preview{
          width: 100%;
          max-width: 400px;
          .imagenesContainer{
            .imagenes{
              height: 350px;
            }
          }
        }
        .data{
          width: 100%;
          margin-left: 0;
          margin-top: 30px;
          text-align: center;
          .lista{
            text-align: left;
            ul{
              @include flex($ai: flex-start);
            }
            li{
              width: calc(50% - 20px);
            }
          }
          .extraInfo{
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
        }
        .precios{
          position: absolute;
          right: 0;
          top: calc(350px / 2);
          transform: translateY(-50%);
        }
      }
    }
    @include tablet{
      .detalleWrapper{
        .preview{
          margin: 0 auto;
          .imagenesContainer{
            .imagenes{
              height: 300px;
            }
          }
        }
        .data{
          .nombre{
            font-size: 30px;
          }
        }
        .precios{
          top: 0;
          margin-top: 20px;
          transform: none;
          text-align: center;
          position: relative;
          .selCantidad{
            .controls{
              justify-content: center;
            }
          }
        }
      }
    }
    @include responsivo(500px){
      .detalleWrapper{
        .data{
          .nombre{
            font-size: 20px;
          }
          .lista{
            li{
              width: 100%;
            }
          }
        }
      }
    }
  }
}