@import "./parciales/vars";
@import "./parciales/mixins";
@import "./parciales/general";
@import "./parciales/compartido";

body{
  &.darken{
    .#{$pfx}infoCards{
      .#{$pfx}container{
        .card{
          background-color: $negro;
          .#{$pfx}icono{
            color: $secundario;
          }
        }
      }
    }
  }
}

.#{$pfx}mainSlider{
  background-color: #000;
  .#{$pfx}container{
    @include container(100%);
    @include flex(column, nowrap, center, flex-end, center);
    height: 500px;
    position: relative;
    &:hover{
      .manualControls{
        .control{
          opacity: 1;
          &.at, &.av{
            transform: translateY(-50%);
          }
        }
      }
    }
    .wrapperSlider{
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      .imgSlider{
        @include imagen;
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        transition: ease all .5s;
        &.activo{
          left: 100%;
          transform: translateX(-100%);
          transition-property: transform;
        }
      }
    }
    .manualControls{
      .control{
        @include flex(column, nowrap, center, center, center);
        position: absolute;
        top: 50%;
        width: 50px;
        height: 80px;
        opacity: 0;
        background-color: $blanco;
        transform: translateY(-50%);
        box-shadow: 0 0 10px 0 rgba($negro,.2);
        transition: ease all .3s;
        cursor: pointer;
        &.at{
          left: 5%;
          transform: translateY(-50%) translateX(-100%);
          &:before, &:after{
            transform-origin: left;
          }
        }
        &.av{
          right: 5%;
          transform: translateY(-50%) translateX(100%);
          &:before, &:after{
            transform-origin: right;
          }
        }
        &.circular{
          height: 50px;
          border-radius: 50%;
          &::before, &:after{
            width: 10px;
            height: 2px;
          }
        }
        &:before, &:after{
          content: "";
          position: absolute;
          width: 20px;
          height: 1px;
          background-color: $negro;
          transform: rotate(-50deg);
        }
        &:after{
          transform: rotate(50deg);
        }
      }
    }
    .#{$pfx}dots{
      @include flex(row, wrap, center, center, center);
      position: relative;
      .#{$pfx}dot{
        @include flex(column, nowrap, center, center, center);
        width: 17px;
        height: 17px;
        margin: 10px 3px;
        color: $blanco;
        cursor: pointer;
        &.activo{
          &:before{
            width: 15px;
            height: 15px;
            background-color: currentColor;
          }
        }
        &:before{
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #ebebeb;
          border: 1px solid rgba($negro,.2);
          transition: ease all .2s;
        }
      }
    }
    @include mobile{
      .manualControls{
        display: none;
      }
    }
  }
}
.#{$pfx}infoCards{
  .#{$pfx}container{
    @include container;
    @include flex($ai: stretch);
    padding: 50px 0;
    .card{
      @include flex($wrap: nowrap);
      width: calc((100% / 3) - 40px);
      min-width: 250px;
      flex-grow: 1;
      margin: 20px;
      padding: 20px;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      color: var(--color-text);
      background-color: $gris;
      box-sizing: border-box;
      .#{$pfx}icono{
        width: 50px;
        height: 50px;
        min-width: 50px;
        min-height: 50px;
        margin-right: 10px;
      }
    }
    @include responsivo(850px){
      .card{
        flex-direction: column;
        .#{$pfx}icono{
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }
    @include responsivo(500px){
      .card{
        margin: 20px 0;
      }
    }
  }
}
.#{$pfx}actualizaciones{
  .#{$pfx}container{
    @include container;
    padding: 50px 0;
    .contenedorActualizaciones{
      width: 100%;
    }
  }
}