@import "./parciales/vars";
@import "./parciales/mixins";
@import "./parciales/general";
@import "./parciales/compartido";

body{
  &.darken{
    .#{$pfx}infoCards{
      .#{$pfx}container{
        .card{
          background-color: $negro;
          .#{$pfx}icono{
            color: $secundario;
          }
        }
      }
    }
    .#{$pfx}categoryGroup{
      .#{$pfx}container{
        .products{
          .prod{
            background-color: $negro;
            &:before{
              background: linear-gradient(transparent, rgba($blanco,.3));
            }
          }
        }
      }
    }
  }
}

.#{$pfx}mainSlider{
  background-color: #000;
  .#{$pfx}container{
    @include container(100%);
    @include flex(column, nowrap, center, flex-end, center);
    height: 500px;
    position: relative;
    &:hover{
      .manualControls{
        .control{
          opacity: 1;
          &.at, &.av{
            transform: translateY(-50%);
          }
        }
      }
    }
    .wrapperSlider{
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      .imgSlider{
        @include imagen;
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        transition: ease all .5s;
        &.activo{
          left: 100%;
          transform: translateX(-100%);
          transition-property: transform;
        }
      }
    }
    .manualControls{
      .control{
        @include flex(column, nowrap, center, center, center);
        position: absolute;
        top: 50%;
        width: 50px;
        height: 80px;
        opacity: 0;
        background-color: $blanco;
        transform: translateY(-50%);
        box-shadow: 0 0 10px 0 rgba($negro,.2);
        transition: ease all .3s;
        cursor: pointer;
        &.at{
          left: 5%;
          transform: translateY(-50%) translateX(-100%);
          &:before, &:after{
            transform-origin: left;
          }
        }
        &.av{
          right: 5%;
          transform: translateY(-50%) translateX(100%);
          &:before, &:after{
            transform-origin: right;
          }
        }
        &.circular{
          height: 50px;
          border-radius: 50%;
          &::before, &:after{
            width: 10px;
            height: 2px;
          }
        }
        &:before, &:after{
          content: "";
          position: absolute;
          width: 20px;
          height: 1px;
          background-color: $negro;
          transform: rotate(-50deg);
        }
        &:after{
          transform: rotate(50deg);
        }
      }
    }
    .#{$pfx}dots{
      @include flex(row, wrap, center, center, center);
      position: relative;
      .#{$pfx}dot{
        @include flex(column, nowrap, center, center, center);
        width: 17px;
        height: 17px;
        margin: 10px 3px;
        color: $blanco;
        cursor: pointer;
        &.activo{
          &:before{
            width: 15px;
            height: 15px;
            background-color: currentColor;
          }
        }
        &:before{
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #ebebeb;
          border: 1px solid rgba($negro,.2);
          transition: ease all .2s;
        }
      }
    }
    @include mobile{
      .manualControls{
        display: none;
      }
    }
  }
}
.#{$pfx}infoCards{
  .#{$pfx}container{
    @include container;
    @include flex($ai: stretch);
    padding: 50px 0;
    .card{
      @include flex($wrap: nowrap);
      width: calc((100% / 3) - 40px);
      min-width: 250px;
      flex-grow: 1;
      margin: 20px;
      padding: 20px;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      color: var(--color-text);
      background-color: $gris;
      box-sizing: border-box;
      .#{$pfx}icono{
        width: 50px;
        height: 50px;
        min-width: 50px;
        min-height: 50px;
        margin-right: 10px;
      }
    }
    @include responsivo(850px){
      .card{
        flex-direction: column;
        .#{$pfx}icono{
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }
    @include responsivo(500px){
      .card{
        margin: 20px 0;
      }
    }
  }
}
.#{$pfx}actualizaciones{
  .#{$pfx}container{
    @include container;
    padding: 50px 0;
    .contenedorActualizaciones{
      width: 100%;
    }
    @include tablet{
      .#{$pfx}encabezadoDoble{
        align-items: center;
        text-align: center;
        font-size: 30px;
        .breakTxt{
          font-size: 40px;
        }
      }
    }
    @include mobile{
      .#{$pfx}encabezadoDoble{
        .breakTxt{
          font-size: 35px;
        }
      }
    }
  }
}
.#{$pfx}categoriasDestacadas{
  .#{$pfx}container{
    @include container;
    padding: 50px 0;
    text-align: center;
    .#{$pfx}encabezadoDoble{
      align-items: flex-end;
      text-align: right;
    }
    .contenedorCards{
      @include flex($ai: stretch);
      .card{
        @include flex(column, nowrap, $jc: flex-end);
        @include imagen;
        background-blend-mode: soft-light;
        width: calc((100% / 3) - 20px);
        min-width: 250px;
        min-height: 350px;
        flex-grow: 1;
        margin: 10px;
        transition: ease all .3s;
        &.#{$pfx}girl{
          overflow: hidden;
          &:hover{
            background-color: rgba(#000,.9);
            .socials{
              &:hover{
                .socialIcon{
                  transition-delay: 0s !important;
                }
              }
              .socialIcon{
                opacity: 1;
                transform: none;
                &:hover{
                  color: $secundario;
                }
                @for $i from 1 through 10 {
                  &:nth-child(#{$i}) {
                    transition-delay: #{($i - 1) / 10}s;
                  }
                }
              }
            }
            .texto{
              transform: none;
            }
          }
        }
        &:hover{
          background-color: $negro;
          .texto{
            color: $blanco;
            background-color: $secundario;
            transform: translateY(-100%);
          }
        }
        .socials{
          @include flex;
          margin: auto;
          &.vertical{
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: flex-start;
            margin-left: 5%;
            .socialIcon{
              @include flex($wrap: nowrap);
              text-align: left;
              .#{$pfx}icono{
                min-width: 35px;
                margin-right: 10px;
              }
            }
          }
          .socialIcon{
            padding: 10px;
            color: $blanco;
            opacity: 0;
            transform: translateY(100%);
            transition: ease all .3s;
            .#{$pfx}icono{
              color: currentColor;
            }
          }
        }
        .texto{
          width: 100%;
          padding: 20px;
          background-color: $blanco;
          box-sizing: border-box;
          transition: ease all .3s;
          p{
            @include ellipsisParrafo();
            font-family: "Roboto",sans-serif;
            text-align: center;
            font-weight: 600;
            font-size: 20px;
            text-transform: uppercase;
          }
        }
      }
    }
    @include tablet{
      .#{$pfx}encabezadoDoble{
        align-items: center;
        text-align: center;
        font-size: 30px;
        .breakTxt{
          font-size: 40px;
        }
      }
    }
    @include mobile{
      .contenedorCards{
        .card{
          margin: 10px 0;
        }
      }
    }
  }
}
.#{$pfx}topCards{
  .#{$pfx}container{
    @include container;
    padding: 50px 0;
    .contenedorCards{
      @include flex($ai: stretch, $jc: space-around);
      width: 100%;
      .rotativeCard{
        @include imagen('', cover);
        width: 350px;
        min-height: 450px;
        margin: 10px;
        perspective: 1000px;
        transform: scale(.8);
        &:hover{
          .wrapper{
            transform: rotateY(-70deg) translateZ(20px);
            .cover{
              background-color: rgba($blanco,.7);
            }
          }
        }
        .wrapper{
          width: 100%;
          height: 100%;
          transform: translateZ(-150px);
          transform-style: preserve-3d;
          transition: ease all .3s;
          .cover{
            @include flex(column, nowrap, $jc: space-between);
            @include imagen;
            background-blend-mode: soft-light;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 20px;
            box-sizing: border-box;
            transform: translateZ(175px);
            backface-visibility: hidden;
            transition: ease all .3s;
            p{
              width: 100%;
              font-size: 25px;
              text-align: center;
            }
            .ranking{
              font-family: "Roboto",sans-serif;
              font-size: 80px;
              font-weight: 600;
              text-align: right;
              color: $secundario;
              text-shadow: -4px 2px 0 $primario;
            }
          }
          .info{
            @include flex(column, nowrap);
            width: 100%;
            height: 100%;
            padding: 20px;
            background-color: $negro;
            transform: rotateY(90deg) translateZ(175px);
            box-sizing: border-box;
            backface-visibility: hidden;
            p{
              font-size: 18px;
              text-align: center;
              &.titulo{
                color: $blanco;
                font-size: 22px;
                font-weight: 600;
                padding-bottom: 10px;
              }
            }
            .precio{
              font-size: 35px;
              font-weight: 600;
              color: $primario;
              &.antes{
                font-size: 25px;
                text-decoration: line-through;
              }
              &:before{
                content: var(--currency-prefix);
              }
            }
            .boton{
              margin-top: 50px;
              padding: 10px 20px;
              color: $blanco;
              font-weight: 600;
              background-color: $secundario;
              transition: ease all .3s;
              &:hover{
                transform: translateY(-5px);
                box-shadow: -3px 3px 0 0 $blanco;
              }
            }
          }
        }
      }
    }
    @include tablet{
      .#{$pfx}encabezadoDoble{
        align-items: center;
        text-align: center;
      }
    }
    @include mobile{
      .#{$pfx}encabezadoDoble{
        font-size: 30px;
        .breakTxt{
          font-size: 40px;
        }
      }
    }
    @include responsivo(450px){
      .contenedorCards{
        .rotativeCard{
          width: 300px;
          min-height: 400px;
          .wrapper{
            .cover{
              transform: translateZ(150px);
            }
            .info{
              transform: rotateY(90deg) translateZ(150px);
            }
          }
        }
      }
    }
    @include responsivo(370px){
      .contenedorCards{
        .rotativeCard{
          &:hover{
            .wrapper{
              transform: rotateY(-75deg) translateZ(20px);
            }
          }
          .wrapper{
            .cover{
              transform: translateZ(135px);
            }
          }
        }
      }
    }
  }
}
.#{$pfx}categoryGroup{
    .#{$pfx}container{
    @include container;
    padding: 50px 0;
    .headerSection{
      font-family: "Roboto",sans-serif;
      margin-bottom: 30px;
      color: var(--color-text);
      font-size: 40px;
      font-weight: 900;
      text-transform: uppercase;
      text-align: left;
      position: relative;
      overflow: hidden;
      &:after{
        content: "";
        position: absolute;
        top: 50%;
        width: 100%;
        height: 3px;
        margin-left: 20px;
        transform: translateY(-50%);
        background-color: currentColor;
      }
    }
    .products{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;
      grid-template-areas:
      "a a . ."
      "a a . .";
      .prod{
        @include flex;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 5px 10px 0 rgba($negro,.2);
        position: relative;
        overflow: hidden;
        &:hover{
          &:before{
            opacity: 1;
            transform: none;
          }
          .nombre{
            transform: none;
            transition-delay: .1s;
          }
        }
        &:before{
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 20px;
          opacity: 0;
          background: linear-gradient(transparent, $negro);
          transform: translateY(100%);
          transition: ease all .3s;
        }
        &:first-child{
          grid-area: a;
          .img{
            height: 100%;
          }
          .nombre{
            font-size: 30px;
          }
        }
        .img{
          @include imagen($size: contain);
          width: 100%;
          min-height: 200px;
        }
        .nombre{
          position: absolute;
          bottom: 0;
          width: 100%;
          padding: 20px;
          color: $blanco;
          font-weight: 600;
          box-sizing: border-box;
          transform: translateY(100%);
          transition: ease all .3s;
        }
      }
    }
    @include responsivo(900px){
      .products{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "a a ."
        "a a .";
      }
    }
    @include responsivo(600px){
      .headerSection{
        text-align: center;
        &:after{
          display: none;
        }
      }
      .products{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a .";
        .prod{
          &:first-child{
            .nombre{
              font-size: 16px;
            }
          }
        }
      }
    }
    @include mobile{
      .products{
        grid-template-columns: 1fr;
        grid-template-areas: "a";
        .prod{
          .nombre{
            text-align: center;
          }
        }
      }
    }
  }
}