@import "./parciales/vars";
@import "./parciales/mixins";
@import "./parciales/general";
@import "./parciales/compartido";

body{
  &.darken{
    .#{$pfx}misPedidos{
      .#{$pfx}container{
        .listaPedidos{
          .pedido{
            background-color: $darkenLight;
            border: none;
            .pedidoHeader{
              .status{
                color: $negro;
                padding: 0 5px;
              }
            }
            .pedidoContenido{
              border-color: rgba($blanco,.2);
            }
          }
        }
      }
    }
  }
}

.#{$pfx}misPedidos{
  .#{$pfx}container{
    @include container;
    padding: 50px 0;
    .listaPedidos{
      width: 100%;
      .pedido{
        width: 100%;
        padding: 50px;
        color: var(--color-text);
        border: 1px solid $gris;
        box-sizing: border-box;
        &:not(:last-child){
          margin-bottom: 100px;
        }
        .bold{
          font-family: 'Roboto', sans-serif;
          font-weight: 600;
        }
        .price{
          &:before{
            content: var(--currency-prefix);
          }
        }
        .prefixLetras{
          font-family: 'Roboto', sans-serif;
          margin-left: 2px;
          font-size: 12px;
        }
        .decorativ{
          @include vendorPrefix((text-decoration: underline wavy));
          text-underline-position: under;
        }
        .status{
          &.confirmada{
            background-color: $success;
          }
          &.enproceso{
            background-color: $warning;
          }
          &.cancelada{
            background-color: $error;
          }
        }
        .cols{
          @include flex($jc: space-between);
        }
        .pedidoHeader{
          .name{
            text-transform: uppercase;
          }
          .order{
            margin: 10px 0;
          }
        }
        .pedidoContenido{
          margin: 20px 0;
          padding: 50px 0;
          border-top: 1px solid $blanco;
          border-bottom: 1px solid $blanco;
          .#{$pfx}productList{
            align-items: flex-start;
            padding: 0 0 10px 0;
            color: var(--color-text);
            border-bottom: 1px dashed rgba($negro,.2);
            &:hover{
              background-color: inherit;
            }
            &:not(:last-child){
              margin-bottom: 20px;
            }
            .txt{
              flex-grow: 1;
              .name{
                font-weight: 600;
              }
              .bigT{
                font-size: 20px;
              }
              .preventaTxt{
                color: $primario;
                font-weight: 600;
                @include vendorPrefix((text-decoration: underline));
                text-underline-position: under;
              }
            }
          }
        }
        .pedidoFooter{
          font-size: 20px;
          text-align: right;
          .aPagar, .debe{
            @include flex($jc: flex-end);
            .total{
              color: $secundario;
            }
          }
          .total{
            margin-left: 10px;
            font-size: 30px;
            position: relative;
            .prefixLetras{
              font-size: 15px;
            }
          }
          .abonosArea{
            .msg{
              width: 100%;
              max-width: 600px;
              margin: 50px auto;
              text-align: center;
            }
            .tabla{
              max-width: 500px;
              margin: 0 auto;
              border: 1px solid;
              .tHeader{
                border-bottom: 1px solid;
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
              }
              .cols{
                &:not(:last-child){
                  border-bottom: 1px solid;
                }
              }
              .ceil{
                padding: 10px 20px;
                text-align: center;
                box-sizing: border-box;
                &:not(:last-child){
                  border-right: 1px solid;
                }
                &.w50{
                  width: 50%;
                }
              }
            }
            .debe{
              margin-top: 20px;
            }
          }
        }
      }
    }
    @include responsivo(600px){
      .listaPedidos{
        .pedido{
          padding: 20px 50px 50px 50px;
          .pedidoHeader{
            .cols{
              flex-direction: column;
              flex-wrap: nowrap;
              justify-content: center;
              text-align: center;
            }
            .wFecha{
              flex-direction: column-reverse;
              align-items: flex-end;
              flex-wrap: nowrap;
              margin-bottom: 10px;
            }
            .name{
              margin-top: 30px;
            }
          }
          .pedidoContenido{
            .#{$pfx}productList{
              .txt{
                .preventaTxt{
                  text-decoration: none;
                }
              }
            }
          }
          .pedidoFooter{
            .cols{
              justify-content: center;
              text-align: center;
            }
            .aPagar, .debe{
              justify-content: center;
              margin-top: 20px;
            }
          }
        }
      }
    }
    @include mobile{
      .#{$pfx}encabezadoDoble{
        align-items: center;
        text-align: center;
        font-size: 30px;
        .breakTxt{
          font-size: 40px;
        }
      }
      .listaPedidos{
        .pedido{
          padding: 20px;
          .pedidoHeader{
            text-align: center;
          }
          .pedidoContenido{
            padding: 20px 0;
          }
        }
      }
    }
  }
}