@import "./vars";
@import "./mixins";
@import "./general";
@import "./compartido";

.#{$pfx}catalogo{
    .#{$pfx}container{
        @include container;
        padding: 50px 0;
        .contenedorCards{
            @include flex;
            width: 100%;
            .prod{
                width: 300px;
                .wrapper{
                    margin: 10px;
                    padding-top: 300px;
                    box-sizing: border-box;
                    position: relative;
                    box-shadow: 0 0 20px 10px rgba($negro,.1);
                    transition: ease all .3s;
                    &:hover{
                        transform: translateY(-10px);
                        .imgProd{
                            height: 450px;
                        }
                    }
                    .colorProd{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 200px;
                        background-color: $primario;
                    }
                    .aFavs{
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        cursor: pointer;
                        z-index: $zup;
                        svg{
                            path, circle{
                                stroke: $blanco;
                            }
                        }
                    }
                    .imgProd{
                        @include imagen('', contain, center bottom);
                        position: absolute;
                        bottom: calc(100% - 300px);
                        width: 100%;
                        height: 300px;
                        transition: ease all .3s;
                    }
                    .infoProd{
                        padding: 20px;
                        box-sizing: border-box;
                        p{
                            font-size: 14px;
                            text-align: center;
                        }
                        .nombreProd{
                            font-family: "Roboto",sans-serif;
                            margin-bottom: 10px;
                            font-size: 16px;
                            font-weight: 600;
                        }
                        .actions{
                            @include flex($jc: space-between);
                            margin-top: 20px;
                            .precioProd{
                                font-family: "Roboto",sans-serif;
                                color: $negro;
                                font-size: 25px;
                                font-weight: 600;
                                &:before{
                                    content: var(--currencyPrefix);
                                    font-size: 20px;
                                }
                            }
                            .#{$pfx}icono{
                                cursor: pointer;
                                svg{
                                    path, circle{
                                        stroke: $negro;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}